//==== MAIN PAGE ====================================================================================
body {
	overflow: auto;
}



@keyframes animating-multiple-properties1 {
  from {
    transform: translate(-110vw, -110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties2 {
  from {
    transform: translate(110vw, -110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties3 {
  from {
    transform: translate(-110vw, 110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties4 {
  from {
    transform: translate(110vw, 110vh);
  }
  to {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
	width: 0px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: #143861;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	
	&__background {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		position: absolute;
		z-index: -2;
		top: 0;
	}
	&__filter-container {
		object-fit: cover;
		position: absolute;
		z-index: -1;
		// background-color: rgba(255, 255, 255, 0.4);
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 100%;
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.8) 100%);
	}
}
.page {
	
}

.main-page {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 20;
		&__container {
			scroll-behavior: smooth;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 25px;
			grid-row-gap: 25px;
			height: 100%;
			&>* {
				&:nth-child(1) {
					animation: 0.2s ease 0s alternate animating-multiple-properties1;
				}
				&:nth-child(2) {
					animation: 0.4s ease 0s alternate animating-multiple-properties2;
				}
				&:nth-child(3) {
					animation: 0.3s ease 0s alternate animating-multiple-properties3;
				}
				&:nth-child(4) {
					animation: 0.5s ease 0s alternate animating-multiple-properties4;
				}
			}
			@media (max-width:$mobile){
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(4, 1fr);
				grid-column-gap: 10px;
				grid-row-gap: 10px;
			}
		}
		&__card {

		}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: toRem(45) toRem(45);
	background: rgba( 0, 0, 0, 0.2);
	backdrop-filter: blur( 1.5px );
	-webkit-backdrop-filter: blur( 1.5px );

	&:hover {
		cursor: pointer;
		transition: all 0.2s ease 0s;
		background-color: rgba(0, 0, 0, 0.7);
		border: 1px solid transparent;
	}
	@media (max-width: em(1000)){
		gap: 1.500vw;
	}
	@media (max-width:$mobile){
		align-items: center;
		flex-direction: row;
		padding: toRem(20); 
		gap: toRem(12);
		height: auto;
	}
	@media (max-width: em(600)){
		padding: toRem(15);
	}
	&__mobile-container {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(14);
		@media (max-width:$mobile){
			display: flex;
			width: 100%;
			justify-content: flex-start;
			gap: toRem(15);
		}
		@media (max-width: em(500)){
			gap: toRem(7);
		}
			&:first-child {
					@media (max-width:$mobile){
						max-height: toRem(65);
						max-width: toRem(65);
						margin-bottom: 0;
					}
					@media (max-width: em(600)){
						max-width: toRem(45);
					}
					@media (max-width: em(500)){
						max-width: toRem(38);
					}
			}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: all 0.3s ease 0s;
		z-index: 9;
		&:hover {
			transition: all 0.3s ease 0s;
			opacity: 0;
		}
	}
	&__icon {
		max-height: toRem(60);
		max-width: toRem(50);
		filter: invert(99%) sepia(17%) saturate(1045%) hue-rotate(181deg) brightness(116%) contrast(100%);
		margin-bottom: toRem(10);
		@media (max-width:$mobile){
			max-height: toRem(70);
			max-width: toRem(70);
			margin-bottom: 0;
		}
		@media (max-width: em(600)){
			max-width: toRem(50);
		}
		@media (max-width: em(500)){
			max-width: toRem(43);
		}
	}
	&__content {
		z-index: 30;
	}
	&__title {
		font-size: toRem(38);
		font-weight: 500;
		@media (max-width: em(1000)){
			font-size: 4vw;
		}
		@media (max-width:$mobile){
			font-size: toRem(28);
		}
		@media (max-width: em(500)){
			font-size: toRem(25);
		}
	}
	&__description {
		font-weight: 400;
		font-size: toRem(18);
		line-height: 120%;
		@media (max-width:$mobile){
			font-size: toRem(16);
		}
	}
}

.carfax-icon {
	max-width: toRem(120);
	filter: invert(99%) sepia(17%) saturate(1045%) hue-rotate(181deg) brightness(116%) contrast(100%);
	@media (max-width:$mobile){
		max-width: toRem(90);
	}
	@media (max-width: em(600)){
		max-width: toRem(60);
	}
	@media (max-width: em(500)){
		max-width: toRem(50);
	}
}


