.faq {
	height: 100%;
	&__container {
		height: 100%;
		padding: toRem(30);
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(30);
		@media (max-width:$mobile){
			padding: toRem(25) toRem(15);
		}
	}
	&__title {
	}
}




body {
  color: #333;
  background: #fcfcfc;
  overflow-x: hidden;
}

.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
	width: 100%;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid #FFFFFF;
	align-items: center;
	@media (max-width:$mobile){
		padding: toRem(10) 0;
	}
}

.panel-title {
	color: #FFFFFF;
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
	margin-left: toRem(15);
	margin-top: toRem(-24);
	transition: all 0.3s ease 0s;
	&:hover {
		color: orange;
		transition: all 0.3s ease 0s;
	}
	@media (max-width:$mobile){
		font-size: toRem(20);
		margin-left: toRem(0);
	}
	@media (max-width: em(500)){
		font-size: toRem(18);
		margin-top: toRem(-27);
		margin-left: toRem(-18);
	}
}

.panel-content {
	color: #FFFFFF;
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
	margin-left: toRem(50);
	@media (max-width:$mobile){
		margin: 0;
		margin-left: 0;
		font-size: toRem(16);
	}
	@media (max-width: em(500)){
		font-size: toRem(14);
	}
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
	@media (max-width:$mobile){
		padding: toRem(10) toRem(14) toRem(4) toRem(14);
	}
	@media (max-width: em(500)){
		padding: toRem(8) toRem(7) toRem(3) toRem(7);
	}
}

.plus {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(336deg) brightness(106%) contrast(101%);
	max-width: toRem(30);
	max-height: toRem(30);
  position: relative;
  margin-left: 20px;
	margin-bottom: -20px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
	@media (max-width:$mobile){
		max-width: toRem(25);
		margin-left: toRem(0);
	}
	@media (max-width: em(500)){
		max-width: toRem(20);
	}
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}