//==== MAIN PAGE ====================================================================================

@keyframes animating-multiple-properties1 {
  from {
    transform: translate(-110vw, -110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties2 {
  from {
    transform: translate(110vw, -110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties3 {
  from {
    transform: translate(-110vw, 110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animating-multiple-properties4 {
  from {
    transform: translate(110vw, 110vh);
  }
  to {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
	width: 0px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: #143861;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	&__background {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: -2;
	}
	&__filter-container {
		object-fit: cover;
		position: absolute;
		z-index: -1;
		// background-color: rgba(255, 255, 255, 0.4);
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 100vh;
	}
}
.page {
	
}

.main-page {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 20;
		&__container {
			scroll-behavior: smooth;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 25px;
			grid-row-gap: 25px;
			height: 100%;
			&>* {
				&:nth-child(1) {
					animation: 0.2s ease 0s alternate animating-multiple-properties1;
				}
				&:nth-child(2) {
					animation: 0.4s ease 0s alternate animating-multiple-properties2;
				}
				&:nth-child(3) {
					animation: 0.3s ease 0s alternate animating-multiple-properties3;
				}
				&:nth-child(4) {
					animation: 0.5s ease 0s alternate animating-multiple-properties4;
				}
			}
			@media (max-width:$mobile){
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(4, 1fr);
				grid-column-gap: 10px;
				grid-row-gap: 10px;
			}
		}
		&__card {

		}
}

.card {
	padding: toRem(25) toRem(25);
	&:hover {
		cursor: pointer;
		transition: all 0.2s ease 0s;
		background-color: rgba(0, 0, 0, 0.7);
		border: 1px solid transparent;
	}
	@media (max-width: em(1000)){
		gap: 1.500vw;
	}
	@media (max-width:$mobile){
		 padding: toRem(20); 
		 gap: toRem(12);
		 height: auto;
	}
	@media (max-width: em(600)){
		padding: toRem(15);
	}
	&__mobile-container {
		@media (max-width:$mobile){
			display: flex;
			width: 100%;
			justify-content: flex-start;
			align-items: end;
			gap: toRem(15);
		}
			&:first-child {
					@media (max-width:$mobile){
						max-height: toRem(65);
						max-width: toRem(65);
						margin-bottom: 0;
					}
					@media (max-width: em(600)){
						max-width: toRem(45);
					}
					@media (max-width: em(500)){
						max-width: toRem(38);
					}
			}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: all 0.3s ease 0s;
		z-index: 9;
		&:hover {
			transition: all 0.3s ease 0s;
			opacity: 0;
		}
	}
	&__icon {
		max-height: toRem(100);
		max-width: toRem(90);
		filter: invert(99%) sepia(17%) saturate(1045%) hue-rotate(181deg) brightness(116%) contrast(100%);
		margin-bottom: toRem(10);
		@media (max-width:$mobile){
			max-height: toRem(70);
			max-width: toRem(70);
			margin-bottom: 0;
		}
		@media (max-width: em(600)){
			max-width: toRem(50);
		}
		@media (max-width: em(500)){
			max-width: toRem(43);
		}
	}
	&__content {
		z-index: 30;
	}
	&__title {
		font-size: toRem(50);
		font-weight: 800;
		@media (min-width: em(1440)){
			font-size: 4vw;
		}
		@media (max-width: em(1000)){
			font-size: 5vw;
		}
		@media (max-width:$mobile){
			font-size: toRem(28);
		}
		@media (max-width: em(500)){
			font-size: toRem(25);
		}
	}
	&__description {
		font-weight: 400;
		font-size: toRem(20);
		line-height: 120%;
		@media (max-width:$mobile){
			font-size: toRem(16);
		}
	}
}

.carfax-icon {
	max-width: toRem(120);
	filter: invert(99%) sepia(17%) saturate(1045%) hue-rotate(181deg) brightness(116%) contrast(100%);
	@media (max-width:$mobile){
		max-width: toRem(90);
	}
	@media (max-width: em(600)){
		max-width: toRem(60);
	}
	@media (max-width: em(500)){
		max-width: toRem(50);
	}
}


//===== CALCULATOR ==================================================================================

.calculator {
	height: 100%;
	&__container {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: toRem(0);
		grid-row-gap: 0;
		font-size: toRem(16);
		@media (max-width: em(992)){
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__left-container {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(10);
		// background-color: rgba(0, 0, 0, 0.2);
		height: 100%;
		padding: toRem(25);
		justify-content: space-between;
		@media (max-width: em(992)){
			width: 100%;
			align-items: center;
		}
		@media (max-width:$mobile){
			padding: toRem(20);
		}
		@media (max-width: em(500)){
			padding: toRem(15);
		}
		@media (max-width: em(370)){
			padding: toRem(10);
		}
	}
	&__left-container-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(10);
		@media (max-width:$mobile){
			align-items: center;
			&>* {
				text-align: center;
			}
		}
	}
	&__title {
	}
	&__subtitle {
		@media (max-width: em(500)){
			font-size: toRem(14);
		}
	}
	&__calc-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(14);
		margin-top: toRem(15);
		@media (max-width:$tablet){
			width: 100%;
			align-items: center;
		}
	}
	&__result-wrapper {
	}
}
.calc {
	width: 100%;
	&__auction-area-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: toRem(10);
		@media (max-width:$tablet){
			flex-direction: column;
			align-items: center;
		}
	}
	&__auction {
	}
	&__engine {
	}
	&__body {
	}
	&__area {
	}
	&__inputs {
	}
	&__calc-button {

	}

}
.auction {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(4);
	font-size: toRem(15);
	&__title {
	}
	&__buttons-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	&__button {
	}
}
.auction-copart-button {
}
.auction-iaai-button {
}

.area {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(4);
	font-size: toRem(15);
	&__title {
	}
	&__list {
		color: #ffffff;
			&:focus {
				background: rgba(39, 60, 60, 0.7);
				transition: all 0.3s ease 0s;
			}
	}
	&__list-item {
	}
}

.engine {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(4);
	font-size: toRem(15);
	&__title {
	}
	&__buttons-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		@media (max-width: em(650)){
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__button {
	}
}
.engine-petrol-button {
}
.engine-diesel-button {
}
.engine-hybrid-button {
}
.engine-electic-button {
}

.body {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(4);
	font-size: toRem(15);
	&__title {
	}
	&__buttons-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		@media (max-width: em(650)){
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__button {
	}
}
.body-passenger-button {
}
.body-suv-button {
}
.body-off-road-button {
}
.body-moto-button {
}

.input {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 100%;
	@media (max-width: em(650)){
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: em(470)){
		grid-template-columns: repeat(1, 1fr);
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(4);
		font-size: toRem(15);
	}
	&__title {
		white-space: nowrap;
	}
	&__field {
		color: #ffffff;
		padding: toRem(5) toRem(15) toRem(5) toRem(10);
		width: 100%;
	}
}
.calc-button {
	&__button {
		font-size: toRem(18);
		font-weight: 400;
		padding: toRem(10) toRem(15);
		border-radius: toRem(7);
		background-color: rgba(0, 0, 0, 0.4);
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		gap: toRem(10);
		&:hover {
			transition: all 0.3s ease 0s;
			background: rgba(9, 24, 24, 0.7);
			gap: toRem(15);
		}
		@media (max-width:$mobile){
			font-size: toRem(16);
		}
	}
	&__button-text {
	
	}
	&__arrow {
		width: toRem(20);
		height: toRem(20);
		filter: invert(100%) sepia(0%) saturate(7419%) hue-rotate(39deg) brightness(104%) contrast(91%);
		@media (max-width:$mobile){
			width: toRem(17);
			height: toRem(17);
		}
	}
}
.result {
	padding: toRem(25);
	height: 100%;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	gap: toRem(15);
	margin-top: toRem(10);
	@media (max-width: em(992)){
		width: 100%;
		align-items: center;
	}
	@media (max-width:$mobile){
		padding: toRem(20);
	}
	@media (max-width: em(500)){
		padding: toRem(15);
	}
	@media (max-width: em(370)){
		padding: toRem(10);
	}
	&__title {
	}
	&__result-container {
		font-size: toRem(14);
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(4);
		@media (max-width: em(500)){
			font-size: toRem(13);
		}
	}
	&__line {
		padding: toRem(3) toRem(5);
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	&__name {
	}
	&__price {
	}
	&__copy-container {
	}
	&__copy-button {
		display: flex;
		gap: toRem(10);
		padding: toRem(10) toRem(15);
		align-items: center;
		border-radius: toRem(7);
		background-color: rgba(0, 0, 0, 0.4);
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background: rgba(9, 24, 24, 0.7);
		}
	}
	&__copy-icon {
		width: toRem(15);
		height: toRem(15);
		filter: invert(100%) sepia(0%) saturate(7419%) hue-rotate(39deg) brightness(104%) contrast(91%);
	}
	&__copy-button-text {
		font-size: toRem(14);
	}
}
