// Заголовки, загальні БЕМ блоки та інше...
.sidebar-button {
	position: absolute;
	top: toRem(10);
	left: toRem(15);
	z-index: 1000;
	&__image {
		max-width: toRem(30);
		max-height: toRem(30);
	}
}

.button-style {
	border-radius: toRem(10);
	padding: toRem(10);
}

.button-background-hover {
	transition: all 0.2s ease 0s;
	&:hover {
		transition: all 0.2s ease 0s;
		background-color: rgba($color: #fff8b5, $alpha: 1);
	}
}